html,body{
    padding: 0%;
    margin: 0%;
}

.testimage .text{
    color: white;
}

.container{
    height: 45%;
}
.testimage {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    background-image: url("https://media1.tenor.com/images/34e67847f219f03445a31b9c272b6f9c/tenor.gif?itemid=18226309");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 900px){
    .testimage{
        background-image: url("https://wallpaperaccess.com/full/545792.jpg");
    }
}

